[Unit]
Description=Node.js Web Application
After=network.target mysql.service

[Service]
User=csye6225
Group=csye6225
WorkingDirectory=/home/csye6225/webapp
ExecStart=/usr/bin/node /home/csye6225/webapp/app.js
Restart=always
StandardOutput=journal
StandardError=journal
EnvironmentFile=/home/csye6225/webapp/.env

[Install]
WantedBy=multi-user.target
