[Unit]
Description=Node.js Web Application
After=network.target mysql.service

[Service]
User=csye6225
Group=csye6225
WorkingDirectory=/home/ubuntu/app/build
ExecStart=/usr/bin/node /home/ubuntu/app/build/app.js
Restart=always
StandardOutput=file:/var/log/myapp.log
StandardError=file:/var/log/myapp-error.log
EnvironmentFile=/home/ubuntu/app/.env

[Install]
WantedBy=multi-user.target
